//variables

$color-1: #05FF00;
$background: #17181F;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #17181F;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.expenses-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    
}

.expense-add{
    background: $color-1;
    border: none;
    color: white;
    font-weight: 700;
    padding: 0.25rem 0.35rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 25%;
}

.label-container-1,
.label-container-2,
.label-container-3,
.label-container-4{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.input-box{
    width: 25%;
    border-bottom: 1px solid $color-1;
    border-top: none;
    border-left: none;
    border-right: none;
    background: $background;
    color: white;
}

.input-label{
   margin-top: 2rem;
   margin-bottom: 0.5rem;
}

.box-width{
    width: 100%;
}
